/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html{
  /* add a smooth scroll */
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

.section-title {
  margin-bottom: 0.5rem;
  text-align: center; /* Center the title */
  padding-bottom: 1.5rem;
}

/* styles.css */
#home {
  position: relative;
  min-height: 100vh; /* Ensure the section takes the full viewport height */
}

.background {
  width: 100%;
  height: auto;
}

.name-title {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 10%; /* Adjust this value to position the name on top of the laptop */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #333; /* Adjust this color to be closer to your background picture color */
}

.name-title h1 {
  margin-top: 2rem;
  font-size: 4.5rem; /* Adjust the font size as needed */
  transition: text-shadow 0.3s ease-in-out;
}

.name-title h2 {
  margin-top: 28.5rem;
  font-size: 3rem; /* Adjust the font size as needed */
  color: #454545; /* Adjust this color to be closer to your background picture color */
  transition: text-shadow 0.3s ease-in-out;
}

.name-title h1:hover,
.name-title h2:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 5rem 0;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 330px 300px;
  margin: 20px auto;
}

.container .box {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
}

img.socialIcon {
  height: 30px;
  width: 30px;
}

/* add a slide In Left animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.education-container {
  padding: 2rem;
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.education-cell {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.3s;
}

.education-cell:hover {
  transform: scale(1.05);
}

.education-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center; /* Center the title */
}

.education-degree,
.education-year {
  font-size: 1rem;
  margin: 0.25rem 0;
}